.page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    background-color: #f0f8ff; /* Jasny niebieski kolor tła */
}

.toolbox {
    height: 100%; /* Pełna wysokość */
    width: 20vh; /* Stała szerokość przybornika */
    position: fixed; /* Ustalona pozycja */
    top: 0; /* Od góry */
    left: 0; /* Od lewej */
    background-color: #007bff; /* Niebieski kolor tła */
    padding-top: 60px; /* Odstęp od góry */
    padding-left: 10px; /* Dodatkowy odstęp od lewej */
    color: white; /* Kolor tekstu */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Delikatny cień po prawej stronie */
}

.toolbox button, .toolbox label, .toolbox input {
    display: block;
    width: 90%;
    margin: 10px auto; /* Automatyczne wyśrodkowanie z marginesem */
}

.toolbox button {
    padding: 10px;
    background-color: #0056b3; /* Ciemniejszy niebieski */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toolbox button:hover, .toolbox button.active {
    background-color: #003f7f; /* Jeszcze ciemniejszy niebieski */
}

.toolbox label {
    color: white;
    margin-top: 20px; /* Odstęp od góry */
    text-align: center;
    font-weight: bold;
}

.toolbox input[type="range"] {
    -webkit-appearance: none; /* Usunięcie domyślnego wyglądu */
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.toolbox input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: hsl(211, 100%, 20%);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toolbox input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toolbox input[type="color"] {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Odstęp od góry */
}

.whiteboard {
    position: fixed;
    flex-grow: 1;
    border: 5px solid #007bff; /* Niebieski kolor ramki */
    top: 0;
    left: 20vh; /* Przesunięcie w prawo o szerokość przybornika */
    right: 0; /* Rozciągnięcie do prawej */
    bottom: 0; /* Rozciągnięcie do dołu */
    background-color: white; /* Białe tło */
}

.drag {
    margin-top: auto; /* ensures the drag button is at the bottom of the toolbox */
  }